a {
    color: white;
    text-decoration: none;
}

.content {
    color:#000000;
    font-size: 17pt;
    text-align: left;
    padding:5% 5%;
}

.heading{
    color:#000000;
    font-size: 25pt;
    font-weight: bold;
}